body{
   background: #e3e3e3;
}
.panel{
   width: 600px;
   margin: 44px auto;
   border: 1px solid #c5c0c0;
   background: #EEEEEE;
}
.panelTitle{
   background: #D1D1D1;
   font-weight: bold;
   padding: 9px;
   color: #505050;
}
.panelContent{
   padding: 10px;
   background: #fff;
   min-height: 50px;
}
.close{
   float: right;
   cursor: pointer;
   padding: 2px 9px;
   background: red;
}
.close:hover{
   background: cyan;
}

/*----------model-----------*/
/*component Communications & CustomEvents*/
.model{
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgb(0,0,0,0.5);
}

.modelContent{
   width: 560px;
   background: #fff;
   margin: auto;
   margin-top: 120px;
   color: #505050;
}
.modelHeader{
   background: #efefef;
   font-weight: bold;
   padding: 16px 9px;
   color: #505050;
}
.modelBody{
   padding: 22px;
   background: #fff;
   min-height: 222px;
}
.modelFooter{
   background: #D1D1D1;
   font-weight: bold;
   padding: 9px;
   color: #505050;
}

